<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
        </handlers>
        <aspNetCore processPath="dotnet" arguments=".\EDR.API.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
            <environmentVariables>
                <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
            </environmentVariables>
        </aspNetCore>
        <rewrite>
            <rules>
                <rule name="Tenant Header" stopProcessing="false">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^([^.]+)\.karmatech-ai\.com$" />
                    </conditions>
                    <serverVariables>
                        <set name="HTTP_X_TENANT_CONTEXT" value="{C:1}" />
                    </serverVariables>
                </rule>
            </rules>
        </rewrite>
        <cors enabled="true">
            <add origin="http://localhost:3000" allowCredentials="true" />
            <add origin="http://*.karmatech-ai.com" allowCredentials="true" />
        </cors>
    </system.webServer>
</configuration>
